.MailView-input {
  margin: 5px; }

.MailView-input:invalid {
  border: 1px solid red; }

.MailView-label {
  margin: 5px; }

.ListView-row--odd {
  background-color: #f9f7f6; }

.ListView-row--even {
  background-color: #f1edea; }
