.MailView-input {
  margin: 5px;
}

.MailView-input:invalid{
  border: 1px solid red;
}

.MailView-label {
  margin: 5px;
}

.ListView-row--odd {
  background-color: #E4EEF5;
}

.ListView-row--even {
  background-color: #BEEBF5;
}